/* Define a fonte e a cor padrão para o corpo do documento */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #131c2b; /* Cor do texto */
}

/* Estiliza o elemento <h1> com sublinhado e itálico */
h1 {
    text-decoration: underline; /* Sublinha o texto */
    font-style: italic; /* Torna o texto itálico */
}

/* Estiliza o elemento <h2> com uma fonte serifada e negrito */
h2 {
    font-family: 'Times New Roman', Times, serif; /* Define a fonte serifada */
    font-weight: bold; /* Torna o texto em negrito */
}

/* Estiliza o elemento <header> com um fundo azul claro e borda azul */
header {
    background-color: cornflowerblue; /* Cor de fundo */
    border: 2px solid blue; /* Borda azul de 2px */
    transition: border-radius 0.3s; /* Transição suave para o arredondamento das bordas */
    text-align: center; /* Centraliza o texto dentro do header */
}

nav{
    background-color: #333333;
    border: solid 2px #340acc;
    border-style: inset;
    width: 100%;
}

ul{
    display: flex;
    flex-direction: row;
    padding: 0;
}
li{
    /*margin: 0 10px;*/
    list-style: none;
    width: 20%;
    text-align: center;
}

li a{
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Torna o texto em negrito */
    color: aliceblue; /* Remove a decoração de link padrão */
    text-decoration: none; /* Remover sublinhado dos links */
    transition: font-size 0.3s;
}

li a:hover{
    font-size: 35px;
    color: aquamarine
}
div{
    background-color: rgb(11, 170, 170);
    width: 100px;
    height: 100px;
    transition: all 0.8s;
}
div:hover {
    background-color: cadetblue;
    border-radius: 50px;
    transition: all 0.8s;
}

